<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
<!--    <filter>
        <filter-name>/authorizationFilter</filter-name>
        <filter-class>Controller.Auth.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>/authorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.GoogleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.FacebookRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NormalRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.NormalRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NormalLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.NormalLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>Controller.Auth.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.Auth.ResetPasswordServlet</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>BookingApprovalListServlet</servlet-name>
        <servlet-class>Controller.Booking.BookingApprovalListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingApprovalServlet</servlet-name>
        <servlet-class>Controller.Booking.BookingApprovalServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>SetPasswordServlet</servlet-name>
        <servlet-class>Controller.Auth.SetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>Controller.User.UserAccount.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/facebookLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <url-pattern>/googleRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <url-pattern>/facebookRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalRegisterServlet</servlet-name>
        <url-pattern>/normalRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalLoginServlet</servlet-name>
        <url-pattern>/normalLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>BookingApprovalListServlet</servlet-name>
        <url-pattern>/staff/booking-approval-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingApprovalServlet</servlet-name>
        <url-pattern>/staff/booking-approval</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SetPasswordServlet</servlet-name>
        <url-pattern>/setPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/user/update-info</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
