<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.GoogleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.FacebookRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NormalRegisterServlet</servlet-name>
        <servlet-class>Controller.Auth.NormalRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NormalLoginServlet</servlet-name>
        <servlet-class>Controller.Auth.NormalLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>Controller.Auth.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.Auth.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/facebookLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <url-pattern>/googleRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <url-pattern>/facebookRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalRegisterServlet</servlet-name>
        <url-pattern>/normalRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalLoginServlet</servlet-name>
        <url-pattern>/normalLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>pages/authen/SignIn.jsp</welcome-file>
    </welcome-file-list>
</web-app>
